In [6]:
import pandas as pd

In [168]:
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)
# pd.set_option('display.max_colwidth', -1)

C:\Users\SunaynaPC\AppData\Local\Temp\ipykernel_27728\3462665596.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

#### Data Understanding

In [7]:
loan = pd.read_csv('C:\\Users\\SunaynaPC\\Downloads\\loan\\loan.csv')
loan

C:\Users\SunaynaPC\AppData\Local\Temp\ipykernel_26288\4245973293.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  loan = pd.read_csv('C:\\Users\\SunaynaPC\\Downloads\\loan\\loan.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

__Checking Rows With null entries__

In [141]:
loan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

#### Data Cleaning and Manipulation

__Removing records where null percentage__

In [8]:
#Removing records where null percentage 
null_percentage=loan.isnull().sum()/loan.shape[0]
columns=null_percentage[null_percentage>0.90].keys()
loan=loan.drop(columns,axis=1)
loan.shape

(39717, 55)

__cleaning irrelevant columns__

In [9]:
#cleaning irrelevant columns having null values
loan=loan.drop("mths_since_last_delinq",axis=1)
loan=loan.drop("desc",axis=1)

#cleaning irrelevant columns
loan=loan.drop("url",axis=1)
loan=loan.drop("zip_code",axis=1)

#Removed title as purpose already providing same info
loan=loan.drop("title",axis=1)


#no categorization available in the columns
loan=loan.drop("initial_list_status",axis=1)
loan=loan.drop("policy_code",axis=1)
loan=loan.drop("pymnt_plan",axis=1)
loan=loan.drop("application_type",axis=1)
loan=loan.drop("acc_now_delinq",axis=1)
loan=loan.drop("chargeoff_within_12_mths",axis=1)
loan=loan.drop("delinq_amnt",axis=1)
loan=loan.drop("tax_liens",axis=1)
loan=loan.drop("collections_12_mths_ex_med",axis=1)


#Customer behavior variables
loan=loan.drop("delinq_2yrs",axis=1)
loan=loan.drop("earliest_cr_line",axis=1)
loan=loan.drop("inq_last_6mths",axis=1)
loan=loan.drop("open_acc",axis=1)
loan=loan.drop("revol_bal",axis=1)
loan=loan.drop("revol_util",axis=1)
loan=loan.drop("total_acc",axis=1)
loan=loan.drop("out_prncp",axis=1)
loan=loan.drop("out_prncp_inv",axis=1)
loan=loan.drop("total_pymnt",axis=1)
loan=loan.drop("total_pymnt_inv",axis=1)
loan=loan.drop("total_rec_prncp",axis=1)
loan=loan.drop("total_rec_int",axis=1)
loan=loan.drop("total_rec_late_fee",axis=1)
loan=loan.drop("recoveries",axis=1)
loan=loan.drop("collection_recovery_fee",axis=1)
loan=loan.drop("last_pymnt_d",axis=1)
loan=loan.drop("last_pymnt_amnt",axis=1)
loan=loan.drop("last_credit_pull_d",axis=1)

loan.shape

(39717, 22)

__Imputing null values__

In [10]:
#Filling with Unknown where employee title is not present
loan["emp_title"]=loan["emp_title"].fillna("Unkown")

In [4]:
loan["pub_rec"].corr(loan["pub_rec_bankruptcies"])

0.8473050197507596

In [12]:
#Based on correlation between these two variables substituting the values
loan["pub_rec_bankruptcies"]=loan["pub_rec_bankruptcies"].fillna(loan["pub_rec"])
loan=loan.drop("pub_rec",axis=1)
loan.shape

(39717, 21)

In [16]:
#Filling with Unknown where employee length is not present
loan["emp_length"]=loan["emp_length"].fillna("Unkown")
final_loan_data=loan

__Refining Values to get new columns__

In [17]:
#Refining values
final_loan_data["int_rate"]=final_loan_data["int_rate"].str.replace('%','').astype(float)
final_loan_data["term"]=final_loan_data["term"].str.replace(' months','').astype(int)
final_loan_data.shape

(39717, 21)

__Refining Values to get new columns__

C:\Users\SunaynaPC\AppData\Local\Temp\ipykernel_27728\436638649.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_loan_data["int_rate"]=final_loan_data["int_rate"].str.replace('%','').astype(float)
C:\Users\SunaynaPC\AppData\Local\Temp\ipykernel_27728\436638649.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_loan_data["term"]=final_loan_data["term"].str.replace(' months','').astype(int)
C:\Users\SunaynaPC\AppData\Local\Temp\ipykernel_27728\436638649.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_loan_data['years_emp_length']=final_loan_data['emp_length'].str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)

(36442, 41)